# Descargar archivos -> checkout
# Configurar java
# Compilar .java -> outclass
# Ejecutar Test
# Ejecutar jar
# Subir el artefacto generado a GitHub -> uses upload

name: Compilar, testear y crear JAR de Calculadora

# Se ejecuta siempre independientemente de la rama
#on: [push, pull_request]

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Descargar el repositorio
      - name: Checkout del c贸digo
        uses: actions/checkout@v5

      # Configurar Java 21
      - name: Configurar Java 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      # Compilar el c贸digo fuente a la carpeta out/
      - name: Compilar c贸digo fuente
        run: javac -d out src/*.java

      # Ejecutar los tests (CalculadoraTest)
      - name: Ejecutar tests
        # -cp (ClassPath) out (carpeta contenedora de .class)
        run: java -cp out CalculadoraTest

      # Crear el archivo JAR (solo si los tests pasan)
      - name: Crear archivo JAR ejecutable
        # cfe crea el file, nombre, metodo a emplear, extension
        run: |
          cd out
          jar cfe Calculadora.jar Main *.class

      # Ejecutar el JAR
      - name: Ejecutar el JAR
        run: java -jar out/Calculadora.jar

      # Subir el artefacto a GitHub (para descargarlo desde la acci贸n)
      - name: Subir artefacto generado
        uses: actions/upload-artifact@v5
        with:
          name: calculadora-jar
          path: out/Calculadora.jar
